body {
	font-size: 16px;
	color: #40c1ac;

}

h1 {
font-size: 28px;

}

h2 {
font-size: 20px;
}

#headline-article {
	font-weight: bold;
	font-style: italic;
}

#headline-h1 {
	font-size: 36px;
}

.paragraph {
	font-size: 16px;
	color: #444444;
	font-family: "helvetica", sans-serif;
}

.box {
	border: 1px dashed navy;
}